body {

    /* Default text params */
    font-family: monospace;
    font-size: 11pt;
    background: #1c1c1c;
    color: #fff;
    line-height: 1em;

    margin: 0;
    padding: 0;

}

img {

    width: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

}

h1, h2, h3, h4, h5, h6 {

    margin: 0;

    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    transition: font-size 0.2s;

}

h1.title {

    font-size: 3em;
    text-align: center;

}

h1.area {

    font-size: 2em;
    text-align: center;

}

p {

    margin: 0;
    min-height: 1em;

}

.box-link {

    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;

    width: 60px;
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #fff1;

    color: white;
    font-family: inherit;
    font-size: 8pt;
    text-align: center;
    text-decoration: none;
    line-height: inherit;

    cursor: pointer;

}

button.box-link {

    font-weight: bold;

}

/* Main layout */

.body-wrapper {

    margin: 0 auto;
    max-width: 900px;

}

.column {

    display: inline-block;
    max-width: 300px;
    width: 100%;
    padding: 10px;

    vertical-align: top;
    box-sizing: border-box;

}

main.column {

    max-width: 600px;

}

@media (max-width: 900px) {

    .column {

        display: block;
        margin: 0 auto;

    }

    nav {

        max-height: 0;
        transition: max-height 0.2s;

    }

    a.menu:active + nav, a.menu:focus + nav, nav:focus-within {

        max-height: 500px;
        transition: max-height 0.4s;

    }

}

@media (min-width: 901px) {

    .mobile {

        display: none;

    }

}

/* Navigation column */

#map {

    height: 300px;
    position: relative;
    overflow: hidden;

    /* Center-align the content */
    text-align: center;

}

#map h1 {

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 1;

    line-height: 300px;

}

#map-contents {

    display: inline-block;
    vertical-align: middle;

    font-size: 17.5px;

}

#map-contents .row {

    height: 1em;

}

#map-contents .c {

    display: inline-block;
    height: 1em;
    width: 1ch;

}

.middle-helper {

    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;

}

a.menu img {

    display: block;
    margin: 0 auto 20px auto;
    height: 12px;
    max-width: 150px;

}

nav {

    overflow: hidden;

}

nav ul {

    list-style: none;
    padding-left: 0;

    text-align: center;

}

nav a {

    display: inline-block;
    margin: 5px 0;

    font-weight: bold;
    line-height: 1em;

}

/* Other things */
.requires-js {

    display: none;

}

/* Progress bar */
.progress {

    margin: 10px 0 20px 0;
    height: 4px;
    background: #fffd00;

}

.progress-wrapper {

    height: 4px;
    background: #fff;

}

/* Default colors */
.grey    { color: #767676 }
.red     { color: #f2201f }
.green   { color: #23fd00 }
.yellow  { color: #fffd00 }
.blue    { color: #1a8fff }
.magenta { color: #fd28ff }
.cyan    { color: #14ffff }
.white   { color: #ffffff }

.grey    .progress { background: #767676 }
.yellow  .progress { background: #fffd00 }

.portal-magenta {
    background: #fd28ff;
}
